.TaskPreview blockquote.completed{
    background-color: #00c853;
    color: white;
    border-left-color: #1b5e20;
}

.TaskPreview blockquote.completed a{
    color: white;
}

.TaskPreview{
    display: flex;
    border-radius: 10px;
    border-color: lightgray;
    border: solid;
    border-width: 1px;
    padding:1em;
    margin: 1em;
}

.TaskPreview footer{
    display: flex;
    align-items: center;
}